body{ 
    background-color:rgb(235, 211, 0);
    
}
.marca{
    color: rgb(172, 5, 5);
}
.cardapio-itens{
    display: flex;
    flex-direction: column;}

.titulos{
    font-size: 16px;
}
.titulos-cardapio{
    font-size: 22px;
}